:root {
	color-scheme: light dark;
	
	--black: oklch(18% 0.003 17.5);
	--bright_white: oklch(94.75% 0.04 73);
	--dark_grey: oklch(24% 0.006 17.6);
	--red: oklch(62.7% 0.222 27.8);
	--green: oklch(65.2% 0.141 142.1);
	--yellow: oklch(80.8% 0.165 73.5);
	
	--body-background-color: var(--black);
	--body-text-color: var(--bright_white);
	--card-background-color: var(--dark_grey);
	--nav-background-color: transparent;
	--nav-border-bottom-color: transparent;
	--nav-current-border-bottom-color: transparent;
	--card-border-color: tranparent;
	--down-border-left-color: var(--red);
	--down-background-color: inherit;
	--degraded-border-left-color: var(--left);
	--up-border-left-color: var(--green);
	--tag-color: var(--green);
	--tag-up-background-color: var(--green);
	--tag-down-background-color: var(--red);
	--tag-degraded-background-color: inherit;
	--change-background-color: var(--yellow);
	--error-button-border-color: transparent;
	--error-button-background-color: var(--red);
	--error-button-color: inherit;
	--submit-button-border-color: transparent;
	--submit-button-background-color: var(--green);
	--submit-button-color: inherit;
	--graph-opacity: 1;
	--graph-filter: none;
}

article {
	border: none !important;
	border-radius: 0 !important;
}

.tag.closed .tag.up {
	background: transparent !important;
}
