:root {
	color-scheme: light dark;

	--black: oklch(18% 0.003 17.5);
	--grey: oklch(36% 0.003 17.3);
	--dark_grey: oklch(24% 0.006 17.6);
	--white: oklch(76% 0.03 55);
	--bright_white: oklch(94.75% 0.04 73);
	--red: oklch(62.7% 0.222 27.8);
	--green: oklch(65.2% 0.141 142.1);
	--yellow: oklch(80.8% 0.165 73.5);

	--body-background-color: light-dark(var(--bright_white), var(--black));
	--body-text-color: light-dark(var(--black), var(--bright_white));

	--card-border-color: light-dark(transparent, var(--grey));
	--card-background-color: light-dark(oklch(from var(--white) l c h / calc(alpha - 0.3)), oklch(from var(--dark_grey) l c h / calc(alpha - 0.3)));

	--nav-background-color: transparent;
	--nav-border-bottom-color: transparent;
	--nav-current-border-bottom-color: transparent;

	--down-border-left-color: var(--red);
	--down-background-color: light-dark(oklch(from var(--red) l c h / calc(alpha - 0.8)), oklch(from var(--red) l c h / calc(alpha - 0.9)));

	--degraded-border-left-color: var(--yellow);

	--up-border-left-color: var(--green);

	--tag-up-background-color: var(--green);
	--tag-color: var(--black);

	--tag-down-background-color: var(--red);
	--tag-degraded-background-color: var(--black);

	--change-background-color: var(--yellow);

	--error-button-border-color: transparent;
	--error-button-background-color: var(--red);
	--error-button-color: var(--black);

	--submit-button-border-color: transparent;
	--submit-button-background-color: var(--green);
	--submit-button-color: var(--black);

	--graph-opacity: 1;
	--graph-filter: none;
}

@font-face {
	font-family: "Work Sans";
	src: url("https://vale.rocks/assets/typefaces/WorkSans.woff2") format("woff2");
	font-weight: 400 800;
	font-display: fallback;
}

body {
	font-family: "Work Sans", sans-serif;
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-weight: 430;
	transition: 0.25s;
}

nav {
	a {
		padding: 2.5rem 0 !important;
		text-transform: uppercase;
	}

	ul {
		gap: 2rem;

		a {
			font-weight: normal !important;
		}
	}
}

.logo img {
	display: none;
}

main,
nav {
	padding: 0 3rem !important;

	@media (max-width: 45rem) {
		padding: 0 0.8rem !important;
	}
}

.container {
	padding: 0;
}

article {
	border-width: 0.05rem !important;
	border-left: 0.3rem solid !important;
	border-radius: 0 !important;
}
